@use "@assets/styles/common.scss" as common;

@mixin main {
  .main-menu {
    @include common.view-preset;
    @include common.menu-preset;
    background-color: var(--menu-background-color);
    z-index: var(--main-view-layer);

    &.h {
      opacity: 0;
      pointer-events: none;
    }
  }
}
