@use "@assets/styles/common.scss" as common;
@use "../GamePlayView/styles.scss" as GamePlayView;
@use "../MainMenu/styles.scss" as MainMenu;

body {
  margin: 0;
  padding: 0;
}

i {
  font-style: normal;
}

#game {
  @include common.colors;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;

  .main-view-controller {
    .kb-key {
      display: inline-block;
      text-align: center;
      border: 1px solid #000;
      border-radius: 4px;
      box-sizing: border-box;
      min-width: 22px;
      height: 22px;
      padding: 1px 4px 0 4px;
      margin: 0 3px 0 0;
    }

    @include MainMenu.main;
    @include GamePlayView.main;

    .version {
      position: fixed;
      bottom: 3px;
      right: 3px;
      font-size: 10px;
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
