@use "@assets/styles/common.scss" as common;

@use "../MainMenu/styles.scss" as MainMenu;
@use "../PauseMenu/styles.scss" as PauseMenu;
@use "../GameOverMenu/styles.scss" as GameOverMenu;
@use "../OptionsMenu/styles.scss" as OptionsMenu;
@use "../HelpMenu/styles.scss" as HelpMenu;
@use "../GetInputMenu/styles.scss" as GetInputMenu;
@use "../ControlsOverlapMenu/styles.scss" as ControlsOverlapMenu;
@use "../SelectMenu/styles.scss" as SelectMenu;

@use "../GamePlayView/styles.scss" as GamePlayView;

* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  margin: 0;
  padding: 0;
}

#game {
  @include common.colors;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--black);

  .main-view-controller {
    --input-tip-color: var(--black);

    .input-tip {
      // --size: 24px;
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      // min-width: var(--size);
      // min-height: var(--size);
      color: var(--input-tip-color);

      .symbol {
        --size: 17px;
        position: relative;
        // top: -1px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: var(--size);
        min-height: var(--size);
        padding: 2px;
        // padding: 0 2px;
        border-style: solid;
        border-color: #333 #666 #666 #333;
        // border-color: #555 #888 #ccc #888;
        border-width: 1px 2px 2px 1px;
        // border-width: 2px 4px 6px 4px;
        border-radius: 3px;
        // box-sizing: border-box;
        font-size: 14px;
        font-weight: bold;
        background-color: var(--white);

        .unicode-symbol {
          margin-top: -2px;
          font-size: 13px;
        }
      }

      &.icon {
        --size: 50px;
        width: var(--size);
        height: var(--size);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .input-tips {
      --input-tip-height: 24px;
      --input-tip-elements: 3;
      --input-tip-animation-time: 1s;
      display: inline-flex;
      flex-direction: column;
      height: var(--input-tip-height);
      overflow: hidden;

      @keyframes input-tip-move-translate-one {
        0% {
          transform: translate3d(0, 0, 0);
        }

        100% {
          transform: translate3d(0, -100%, 0);
        }
      }

      @keyframes input-tip-move-translate-multiple {
        0% {
          transform: translate3d(0, 0, 0);
        }

        100% {
          transform: translate3d(0, calc(-100% * var(--input-tip-elements)), 0);
        }
      }

      @keyframes input-tip-move-top {
        0% {
          top: 0%;
        }

        100% {
          top: calc(-100% * var(--input-tip-elements));
        }
      }

      &.smooth {
        .input-tip {
          animation:
            input-tip-move-translate-one var(--input-tip-animation-time) cubic-bezier(0.5, 0, 0.5, 1) infinite,
            input-tip-move-top calc(var(--input-tip-animation-time) * var(--input-tip-elements))
              steps(var(--input-tip-elements), jump-end) infinite;
        }
      }
      &:not(.smooth) {
        .input-tip {
          animation: input-tip-move-translate-multiple calc(var(--input-tip-animation-time) * var(--input-tip-elements))
            steps(var(--input-tip-elements), jump-end) infinite;

          .symbol {
            width: 100%;
          }
        }
      }
    }

    .button {
      --button-depth: 2px;
      --button-depth-color: var(--black);
      position: relative;
      top: calc(-1 * var(--button-depth));
      left: calc(-1 * var(--button-depth));
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      padding: 0 20px;
      box-sizing: border-box;
      font-size: 20px;
      text-decoration: none;
      color: var(--black);
      background-color: #eee;
      border: 1px solid var(--black);
      border-radius: 3px;
      box-sizing: border-box;
      box-shadow: var(--button-depth) var(--button-depth) 0 0 var(--button-depth-color);

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        // background-color: rgba(255, 255, 255, 0.9);
        background-color: rgba(0, 0, 0, 0.2);
        opacity: 0;
        z-index: 1;
      }

      &.select {
        &:after {
          position: relative;
          // content: "\25BC";
          content: "\2B65";
          padding-left: 5px;
          font-size: 22px;
        }

        .text {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      &:focus-visible {
        outline: none;
      }

      * {
        pointer-events: none;
      }

      &[disabled] {
        pointer-events: none;
        opacity: 0.4;
      }
      &:not([disabled]) {
        cursor: pointer;

        &.pressed {
          box-shadow: var(--button-depth) var(--button-depth) 0 0 var(--button-depth-color) inset;
          top: auto;
          left: auto;
          background-color: #bbb;

          &:before {
            background-color: rgba(255, 255, 255, 0.5);
          }
        }
        &:not(.pressed) {
          &:hover {
            background-color: #dedede;

            &:active {
              box-shadow: var(--button-depth) var(--button-depth) 0 0 var(--button-depth-color) inset;
              top: auto;
              left: auto;
              background-color: #bbb;
            }
          }
        }
      }

      &.nav-selected {
        @keyframes button-nav-selected {
          0%,
          100% {
            // box-shadow: 0 0 0 1px var(--black);
            opacity: 0;
          }
          50% {
            // box-shadow: 0 0 0 4px var(--black);
            opacity: 1;
          }
        }

        &:before {
          animation: button-nav-selected 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        }
      }
    }

    .checkbox {
      display: flex;
      align-items: center;
      gap: 5px;
      text-decoration: none;
      color: var(--black);

      * {
        pointer-events: none;
      }

      .button {
        pointer-events: all;
        width: 22px;
        height: 22px;
      }

      .content {
        position: relative;
      }

      &:focus-visible {
        outline: none;
      }

      &[disabled] {
        pointer-events: none;
        opacity: 0.4;
      }
      &:not([disabled]) {
        cursor: pointer;

        &:hover {
        }
      }

      &.nav-selected {
        @keyframes checkbox-nav-selected {
          0%,
          100% {
            // height: 1px;
            opacity: 1;
          }

          50% {
            // height: 4px;
            opacity: 0.2;
          }
        }

        .content {
          animation: checkbox-nav-selected 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        }
      }
    }

    --main-view-layer: 1;
    --overlay-layer: 2;
    --popup-menu-layer: 3;
    --options-menu-layer: 4;
    --options-popup-menu-layer: 5;
    --help-menu-layer: 10;

    --menu-background-color: var(--white);

    @include MainMenu.main;
    @include PauseMenu.main;
    @include GameOverMenu.main;
    @include OptionsMenu.main;
    @include HelpMenu.main;
    @include GetInputMenu.main;
    @include ControlsOverlapMenu.main;
    @include SelectMenu.main;

    @include GamePlayView.main;

    .version {
      position: fixed;
      bottom: 3px;
      right: 3px;
      font-size: 10px;
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
