@use "@assets/styles/common.scss" as common;

@use "../MainMenu/styles.scss" as MainMenu;
@use "../PauseMenu/styles.scss" as PauseMenu;
@use "../GameOverMenu/styles.scss" as GameOverMenu;
@use "../OptionsMenu/styles.scss" as OptionsMenu;
@use "../HelpMenu/styles.scss" as HelpMenu;
@use "../GetInputMenu/styles.scss" as GetInputMenu;
@use "../ControlsOverlapMenu/styles.scss" as ControlsOverlapMenu;

@use "../GamePlayView/styles.scss" as GamePlayView;

* {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body {
  margin: 0;
  padding: 0;
}

#game {
  @include common.colors;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: var(--black);

  .main-view-controller {
    --input-tip-color: var(--black);

    .input-tip {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: var(--input-tip-color);

      .symbol {
        --size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: var(--size);
        min-height: var(--size);
        padding: 2px;
        border-style: solid;
        border-color: #333 #333 #555 #333;
        border-width: 1px 1px 2px 1px;
        border-radius: 3px;
        margin-top: 1px;
        font-size: 14px;
        font-weight: bold;
        background-color: var(--white);

        .unicode-symbol {
          margin-top: -2px;
          font-size: 13px;
        }
      }

      &.icon {
        --size: 50px;
        width: var(--size);
        height: var(--size);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .input-tips {
      --input-tip-height: 24px;
      --input-tip-elements: 3;
      --input-tip-animation-time: 1s;
      display: inline-flex;
      flex-direction: column;
      height: var(--input-tip-height);
      overflow: hidden;

      @keyframes input-tip-move-smooth {
        0% {
          transform: translate3d(0, 0, 0);
        }

        100% {
          transform: translate3d(0, -100%, 0);
        }
      }

      @keyframes input-tip-move-instant {
        0% {
          top: 0%;
        }

        100% {
          top: calc(-100% * var(--input-tip-elements));
        }
      }

      .input-tip {
        position: relative;
        animation: input-tip-move-instant calc(var(--input-tip-animation-time) * var(--input-tip-elements))
          steps(var(--input-tip-elements), jump-end) infinite;
      }

      &.smooth {
        .input-tip {
          animation:
            input-tip-move-smooth var(--input-tip-animation-time) cubic-bezier(0.5, 0, 0.5, 1) infinite,
            input-tip-move-instant calc(var(--input-tip-animation-time) * var(--input-tip-elements))
              steps(var(--input-tip-elements), jump-end) infinite;
        }
      }
      &:not(.smooth) {
        .input-tip {
          .symbol {
            width: 100%;
          }
        }
      }
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      padding: 0 20px;
      box-sizing: border-box;
      font-size: 20px;
      text-decoration: none;
      color: var(--black);
      background-color: #eee;
      border: 1px solid var(--black);
      border-radius: 3px;

      &:focus-visible {
        outline: none;
      }

      * {
        pointer-events: none;
      }

      &[disabled] {
        pointer-events: none;
        opacity: 0.4;
      }
      &:not([disabled]) {
        cursor: pointer;

        &:hover {
          background-color: #dedede;
        }
      }

      &.nav-selected {
        color: red;
      }
    }

    .select {
      border-radius: 3px;

      &:focus-visible {
        outline: none;
      }

      &[disabled] {
        pointer-events: none;
        opacity: 0.4;
      }
      &:not([disabled]) {
        cursor: pointer;

        &:hover {
        }
      }

      &.nav-selected {
        color: red;
      }
    }

    .checkbox {
      display: flex;
      align-items: center;
      gap: 5px;
      text-decoration: none;
      color: var(--black);

      * {
        pointer-events: none;
      }

      > input {
        margin: 0;

        &[type="checkbox"] {
          width: 15px;
          height: 15px;
          margin-top: 1px;
        }
      }

      &:focus-visible {
        outline: none;
      }

      &[disabled] {
        pointer-events: none;
        opacity: 0.4;
      }
      &:not([disabled]) {
        cursor: pointer;

        &:hover {
        }
      }

      &.nav-selected {
        color: red;
      }
    }

    --main-view-layer: 1;
    --overlay-layer: 2;
    --popup-menu-layer: 3;
    --options-menu-layer: 4;
    --options-popup-menu-layer: 5;
    --help-menu-layer: 10;

    --menu-background-color: var(--white);

    @include MainMenu.main;
    @include PauseMenu.main;
    @include GameOverMenu.main;
    @include OptionsMenu.main;
    @include HelpMenu.main;
    @include GetInputMenu.main;
    @include ControlsOverlapMenu.main;

    @include GamePlayView.main;

    .version {
      position: fixed;
      bottom: 3px;
      right: 3px;
      font-size: 10px;
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
