@use "@assets/styles/common.scss" as common;

@use "../MainMenu/styles.scss" as MainMenu;
@use "../PauseMenu/styles.scss" as PauseMenu;
@use "../GameOverMenu/styles.scss" as GameOverMenu;
@use "../OptionsMenu/styles.scss" as OptionsMenu;

@use "../GamePlayView/styles.scss" as GamePlayView;

body {
  margin: 0;
  padding: 0;
}

i {
  font-style: normal;
}

#game {
  @include common.colors;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #333;

  .main-view-controller {
    .kb-key {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 5px;
      
      .symbol {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 22px;
        min-height: 22px;
        padding: 3px;
        border: 1px solid var(--black);
        border-radius: 3px;
        box-sizing: border-box;
      }
    }

    --main-view-layer: 1;
    --overlay-layer: 2;
    --popup-menu-layer: 3;
    --options-menu-layer: 4;

    @include MainMenu.main;
    @include PauseMenu.main;
    @include GameOverMenu.main;
    @include OptionsMenu.main;

    @include GamePlayView.main;

    .version {
      position: fixed;
      bottom: 3px;
      right: 3px;
      font-size: 10px;
      color: rgba(0, 0, 0, 0.3);
    }
  }
}
