@use "@assets/styles/common.scss" as common;

@mixin main {
  .game-options-menu {
    @include common.view-preset;
    @include common.menu-preset;
    background-color: var(--menu-background-color);
    z-index: var(--options-menu-layer);

    .content-wrapper {
      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .settings-container-wrapper {
          position: relative;
          display: flex;
          flex-direction: column;
          width: calc(500px * var(--interface-scale));
          height: calc(400px * var(--interface-scale));
          border: 1px solid var(--lightgray);
          border-radius: 3px;
          box-sizing: border-box;
          gap: 30px;
          overflow-x: hidden;
          overflow-y: auto;
        }

        .control-btns-container {
          display: flex;
          justify-content: center;
          gap: 10px;
        }
      }
    }
  }
}
