@use "@assets/styles/common.scss" as common;

@mixin main {
  .game-options-menu {
    @include common.view-preset;
    @include common.menu-preset;
    background-color: var(--menu-background-color);
    z-index: var(--options-menu-layer);

    .content-wrapper {
      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .settings-container-wrapper {
          position: relative;
          display: flex;
          flex-direction: column;
          width: 500px;
          height: 400px;
          border: 1px solid var(--lightgray);
          border-radius: 3px;
          box-sizing: border-box;
          gap: 30px;
          overflow-x: hidden;
          overflow-y: auto;

          .section {
            display: flex;
            flex-direction: column;
            gap: var(--gap-size);
  
            &:first-child {
              padding-top: var(--gap-size);
            }
  
            &:last-child {
              padding-bottom: var(--gap-size);
            }
  
            > .header {
              position: relative;
              display: flex;
              justify-content: center;
              border-width: 0 var(--gap-size);
              border-style: solid;
              border-color: transparent;
  
              .text {
                background-color: var(--menu-background-color);
                padding: 0 5px;
              }
  
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 2px;
                background-color: gray;
                z-index: -1;
              }
            }
  
            > .content {
              display: flex;
              flex-direction: column;
              gap: 10px;
              padding: 0 var(--gap-size);
  
              .button {
                height: 22px;
                padding: 0 10px;
                font-size: 14px;
              }
  
              .settings-table {
                border-spacing: 0;
  
                tr {
                  td {
                    &:nth-child(1) {
  
                    }
  
                    &:nth-child(2) {
                      width: 0;
                    }
                  }
  
                  &:not(:first-child) {
                    td {
                      padding-top: 5px;
                    }
                  }
                }
  
                .setting-name {
                  padding: 0 5px;
                }
  
                .setting-controls {
                  display: flex;
                  flex-direction: column;
                  min-width: 121px;
  
                  .checkbox {
                    width: 22px;
                    padding: 0;
                  }
                }
              }
            }
          }
        }

        .control-btns-container {
          display: flex;
          justify-content: center;
          gap: 10px;
        }
      }
    }
  }
}
