@use "@assets/styles/common.scss" as common;

@mixin main {
  .game-play-view {
    @include common.view-preset;
    --figure-cell-size: var(--cell-size);
    --cup-width: calc(var(--cell-size) * var(--cup-cells-hor));
    --cup-height: calc(var(--cell-size) * var(--cup-cells-ver));
    --cup-padding: 10px;
    z-index: var(--main-view-layer);

    .figure-cell {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: var(--figure-cell-size);
      height: var(--figure-cell-size);
      box-sizing: border-box;

      .back {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }

      .block {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: calc(var(--figure-cell-size) / 4) solid transparent;
        box-sizing: border-box;
      }

      //

      &.cyan {
        .block {
          background-color: #00f0f0;
          border-color: #b3fbfb #34e0e0 #007878 #00d8d8;
        }
      }

      &.blue {
        .block {
          background-color: #0000f0;
          border-color: #b3b3fb #0000d8 #000078 #5454e5;
        }
      }

      &.orange {
        .block {
          background-color: #f0a000;
          border-color: #fbe3b3 #d89000 #785000 #d89000;
        }
      }

      &.yellow {
        .block {
          background-color: #f0f000;
          border-color: #fbfbb3 #d8d800 #787800 #d8d800;
        }
      }

      &.green {
        .block {
          background-color: #00f000;
          border-color: #b3fbb3 #00d800 #007800 #00d800;
        }
      }

      &.purple {
        .block {
          background-color: #a000f0;
          border-color: #e3b3fb #9000d8 #500078 #9000d8;
        }
      }

      &.red {
        .block {
          background-color: #f00000;
          border-color: #fbb3b3 #d80000 #780000 #d80000;
        }
      }

      //

      &.mold {
        .block {
          background-color: #00f000;
          border-width: calc(var(--figure-cell-size) / 8);
          border-color: #b3fbb3 #00d800 #007800 #00d800;
          border-radius: calc(var(--figure-cell-size) / 3);
        }
      }

      &.junk {
        .block {
          background-color: #999;
          border-color: #ccc #888 #555 #888;
        }
      }

      //

      &.connect-up {
        .block {
          border-top-width: 0;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      }

      &.connect-down {
        .block {
          border-bottom-width: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      &.connect-left {
        .block {
          border-left-width: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      &.connect-right {
        .block {
          border-right-width: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    .single-cup-view {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;

        > .header {
          font-weight: bold;

          &.left {
            text-align: left;
          }

          &.center {
            text-align: center;
          }

          &.right {
            text-align: right;
          }
        }

        > .content {
          display: flex;
          gap: 10px;

          &.column {
            flex-direction: column;

            &.left {
              align-items: flex-start;
            }

            &.center {
              align-items: center;
            }

            &.right {
              align-items: flex-end;
            }
          }

          &:not(.column) {
            &.left {
              justify-content: flex-start;
            }

            &.center {
              justify-content: center;
            }

            &.right {
              justify-content: flex-end;
            }
          }
        }
      }

      .tip {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .top-container,
      .bottom-container {
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .row {
          display: flex;
          justify-content: space-between;
          width: var(--cup-width);
          min-width: calc(250px * var(--interface-scale));
        }
      }

      .top-container {
        justify-content: flex-end;
        padding-bottom: var(--cup-padding);
      }

      .bottom-container {
        justify-content: flex-start;
        padding-top: var(--cup-padding);
      }

      .center-container {
        flex-shrink: 0;
        display: flex;

        .left-col-wrapper,
        .right-col-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 50%;

          > .content {
            height: var(--cup-height);
            overflow: hidden;
          }

          .figure-view {
            display: flex;
            flex-wrap: wrap;
            --figure-cell-size: calc(var(--cell-size) / 3 * 2);
            width: calc(var(--figure-cell-size) * var(--cells-x));
            height: calc(var(--figure-cell-size) * var(--cells-y));
          }
        }

        .left-col-wrapper {
          align-items: flex-end;
          padding-right: var(--cup-padding);
        }

        .right-col-wrapper {
          align-items: flex-start;
          padding-left: var(--cup-padding);
        }

        .cup-wrapper {
          flex-shrink: 0;

          .cup {
            display: flex;
            flex-wrap: wrap;
            width: var(--cup-width);
            height: var(--cup-height);
            border: 1px solid #000;

            .figure-cell {
              .back {
                background-color: #bbb;
                border-right: 1px solid #999;
              }

              &.current-figure-column {
                .back {
                  background-color: #aaa;
                }
              }

              &.shadow-figure:not(.current-figure) {
                .block {
                  opacity: 0.3;
                }
              }
            }
          }
        }
      }
    }
  }
}
