@use "@assets/styles/common.scss" as common;

@mixin main {
  .controls-map-wrapper {
    .controls-map-table {
      width: 100%;
      border-spacing: 0;
      box-sizing: border-box;

      tr {
        td {
          height: 40px;
          border-color: var(--lightgray);
          border-style: solid;
          border-width: 1px 0 0 1px;
          box-sizing: border-box;

          .cell-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;

            .key-bind {
              display: flex;
              align-items: center;

              .remove-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 22px;
                height: 22px;

                span {
                  margin: -1px 0 0 1px;
                }
              }
            }
          }

          &:first-child {
            padding: 5px 10px;
          }

          &:nth-child(2) {
            width: 200px;
            padding: 5px 0;
          }

          &:last-child {
            border-width: 1px 1px 0 1px;
          }
        }

        &:last-child {
          td {
            border-bottom-width: 1px;
          }
        }

        &.group-header {
          td {
            padding: 0;
            border-left: none;
            border-right: none;

            .cell-content {
              justify-content: flex-end;
              padding: 0 0 5px 0;
              font-weight: bold;
            }
          }

          &:first-child {
            td {
              height: auto;
              border-top: none;
            }
          }
        }
      }

      &[disabled] {
        opacity: 0.4;
      }
    }

    .get-input-blind {
      @include common.view-preset;
      @include common.menu-preset;
      @include common.popup-menu-preset;
      position: fixed;

      .content-wrapper {
        .content {
          .row {
            text-align: center;
          }
        }
      }

      &.h {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
