@use "@assets/styles/common.scss" as common;

@mixin main {
  .controls-map-wrapper {
    .controls-map-table {
      width: 100%;
      border-spacing: 0;
      box-sizing: border-box;

      tr {
        td {
          height: 40px;
          border-color: var(--lightgray);
          border-style: solid;
          border-width: 1px 0 0 0;
          box-sizing: border-box;

          &:first-child {
            border-width: 1px 0 0 1px;
            padding: 5px 10px;
          }

          &:nth-child(2) {
            width: 200px;
            padding: 5px;
          }

          &:last-child {
            border-width: 1px 1px 0 0;
          }

          .cell-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;

            .key-bind {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              width: 100%;
              gap: 5px;

              .bind-btn {
                min-width: calc(24px * var(--interface-scale));
                height: calc(24px * var(--interface-scale));
                padding: 0;

                .input-tip {
                  height: calc(22px * var(--interface-scale));

                  .symbol {
                    border: none;
                    font-size: calc(14px * var(--interface-scale));
                    background-color: transparent;
                  }
                }
              }

              .remove-btn {
                flex-shrink: 0;
                width: calc(24px * var(--interface-scale));
                height: calc(24px * var(--interface-scale));
                padding: 0;
                font-size: calc(15px * var(--interface-scale));
              }
            }
          }
        }

        &:last-child {
          td {
            border-bottom-width: 1px;
          }
        }

        &.group-header {
          td {
            padding: 0;
            border-left: none;
            border-right: none;

            .cell-content {
              justify-content: flex-end;
              padding: 0 0 5px 0;
              font-weight: bold;
            }
          }

          &:first-child {
            td {
              height: auto;
              border-top: none;
            }
          }
        }
      }

      &[disabled] {
        opacity: 0.4;
      }
    }
  }
}
