@mixin main {
  .controls-map-wrapper {
    .controls-map-table {
      width: 100%;
      border-spacing: 0;
      box-sizing: border-box;

      tr {
        td {
          height: 40px;
          border-color: var(--lightgray);
          border-style: solid;
          border-width: 1px 0 0 1px;
          box-sizing: border-box;

          .cell-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;

            .key-bind {
              display: flex;

              .remove-btn {
                display: flex;
                align-items: center;
              }
            }
          }

          &:first-child {
            padding: 5px 10px;
          }

          &:nth-child(2) {
            width: 200px;
            padding: 5px 0;
          }

          &:last-child {
            border-width: 1px 1px 0 1px;
          }
        }

        &:last-child {
          td {
            border-bottom-width: 1px;
          }
        }

        &.group-header {
          td {
            padding: 0;
            border-left: none;
            border-right: none;

            .cell-content {
              justify-content: flex-end;
              padding: 0 0 5px 0;
              font-weight: bold;
            }
          }

          &:first-child {
            td {
              height: auto;
              border-top: none;
            }
          }
        }
      }

      &[disabled] {
        opacity: 0.4;
      }
    }

    .get-input-blind {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,0.3);

      .center-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: calc(100% - 20px);
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        background-color: var(--white);
        border: 2px solid #0099ff;

        .row {

        }
      }

      &.h {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
