@mixin main {
  .options-menu {
    --menu-background-color: var(--white);
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--menu-background-color);
    z-index: var(--options-menu-layer);

    .center-content-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;

      > .header {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
      }

      .tab-btns-container {
        display: flex;
        gap: 10px;

        button {
          height: 40px;
        }
      }

      .options-list-container {
        position: relative;
        width: 500px;
        height: 400px;
        overflow: hidden;
        border: 1px solid var(--lightgray);
        border-radius: 3px;
        box-sizing: border-box;

        .options-list {
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          flex-direction: column;
          gap: 30px;
          width: 100%;
          height: 100%;
          padding: 10px;
          box-sizing: border-box;
          overflow-x: hidden;
          overflow-y: auto;

          label {
            display: flex;
            align-items: center;
            gap: 5px;

            input {
              margin: 0;

              &[type="checkbox"] {
                width: 15px;
                height: 15px;
                margin-top: 1px;
              }
            }

            &:not([disabled]) {
              cursor: pointer;
            }
            &[disabled] {
              opacity: 0.4;
            }
          }

          .section {
            display: flex;
            flex-direction: column;
            gap: 10px;

            > .header {
              position: relative;
              display: flex;
              justify-content: center;

              .text {
                background-color: var(--menu-background-color);
                padding: 0 5px;
              }

              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                width: 100%;
                height: 2px;
                background-color: gray;
                z-index: -1;
              }
            }

            .content {
              display: flex;
              flex-direction: column;
              gap: 10px;
            }
          }

          &.controls {
            .section {
              .content {
                .control-scheme-controls {
                  display: flex;
                  flex-direction: column;
                  gap: 5px;

                  .row {
                    display: flex;
                    gap: 10px;

                    select,
                    button {
                      height: 40px;
                    }
                  }
                }

                .control-scheme-mapping {
                  .mapping-table {
                    width: 100%;
                    border-spacing: 0;
                    box-sizing: border-box;

                    tr {
                      td {
                        height: 40px;
                        padding: 5px 10px;
                        border-color: var(--lightgray);
                        border-style: solid;
                        border-width: 1px 0 0 1px;
                        box-sizing: border-box;

                        .cell-content {
                          display: flex;
                          flex-direction: column;
                          justify-content: center;
                          align-items: center;
                          width: 100%;
                          height: 100%;
                          box-sizing: border-box;
                        }

                        &:nth-child(2) {
                          width: 200px;
                        }

                        &:last-child {
                          border-width: 1px 1px 0 1px;
                        }
                      }

                      &:last-child {
                        td {
                          border-bottom-width: 1px;
                        }
                      }

                      &.group-header {
                        td {
                          padding: 0;
                          border-left: none;
                          border-right: none;

                          .cell-content {
                            justify-content: flex-end;
                            padding: 0 0 5px 0;
                            font-weight: bold;
                          }
                        }

                        &:first-child {
                          td {
                            height: auto;
                            border-top: none;
                          }
                        }
                      }
                    }

                    &[disabled] {
                      opacity: 0.4;
                    }
                  }
                }
              }
            }
          }

          &.h {
            opacity: 0;
            pointer-events: none;
          }
        }
      }

      .control-btns-container {
        display: flex;
        justify-content: center;

        button {
          height: 40px;
          padding: 0 20px;
          font-size: 20px;
        }
      }
    }

    .get-input-blind {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0,0,0,0.3);

      .center-content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: calc(100% - 20px);
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        background-color: var(--white);
        border: 2px solid #0099ff;

        .row {

        }
      }

      &.h {
        opacity: 0;
        pointer-events: none;
      }
    }

    &.h {
      opacity: 0;
      pointer-events: none;
    }
  }
}
