@use "@assets/styles/common.scss" as common;
@use "./GraphicsTab/styles.scss" as GraphicsTab;
@use "./GameplayTab/styles.scss" as GameplayTab;
@use "./ControlsTab/styles.scss" as ControlsTab;

@mixin main {
  .options-menu {
    @include common.view-preset;
    @include common.menu-preset;
    background-color: var(--menu-background-color);
    z-index: var(--options-menu-layer);

    .content-wrapper {
      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .tab-btns-container {
          display: flex;
          gap: 10px;

          .button {
            flex-grow: 1;
          }
        }

        .options-list-container {
          position: relative;
          width: calc(500px * var(--interface-scale));
          height: 400px;
          overflow: hidden;
          border: 1px solid var(--lightgray);
          border-radius: 3px;
          box-sizing: border-box;

          .options-list {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: auto;

            @include GraphicsTab.main;
            @include GameplayTab.main;
            @include ControlsTab.main;

            &.h {
              opacity: 0;
              pointer-events: none;
            }
          }
        }

        .control-btns-container {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
