@use "@assets/styles/common.scss" as common;
@use "../ControlsMapTable/styles.scss" as ControlsMapTable;

@mixin main {
  .options-menu {
    @include common.view-preset;
    @include common.menu-preset;
    background-color: var(--menu-background-color);
    z-index: var(--options-menu-layer);

    .content-wrapper {
      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .tab-btns-container {
          display: flex;
          gap: 10px;

          button {
            height: 40px;
          }
        }

        .options-list-container {
          position: relative;
          width: 500px;
          height: 400px;
          overflow: hidden;
          border: 1px solid var(--lightgray);
          border-radius: 3px;
          box-sizing: border-box;

          .options-list {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            height: 100%;
            padding: 10px;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: auto;

            label {
              display: flex;
              align-items: center;
              gap: 5px;

              input {
                margin: 0;

                &[type="checkbox"] {
                  width: 15px;
                  height: 15px;
                  margin-top: 1px;
                }
              }

              &:not([disabled]) {
                cursor: pointer;
              }
              &[disabled] {
                opacity: 0.4;
              }
            }

            .section {
              display: flex;
              flex-direction: column;
              gap: 10px;

              > .header {
                position: relative;
                display: flex;
                justify-content: center;

                .text {
                  background-color: var(--menu-background-color);
                  padding: 0 5px;
                }

                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 50%;
                  width: 100%;
                  height: 2px;
                  background-color: gray;
                  z-index: -1;
                }
              }

              .content {
                display: flex;
                flex-direction: column;
                gap: 10px;
              }
            }

            &.controls {
              .section {
                .content {
                  .control-scheme-controls {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .row {
                      display: flex;
                      gap: 10px;

                      select,
                      button {
                        height: 40px;
                      }
                    }
                  }

                  @include ControlsMapTable.main;
                }
              }
            }

            &.h {
              opacity: 0;
              pointer-events: none;
            }
          }
        }

        .control-btns-container {
          display: flex;
          justify-content: center;

          button {
            height: 40px;
            padding: 0 20px;
            font-size: 20px;
          }
        }
      }
    }

    &.h {
      opacity: 0;
      pointer-events: none;
    }
  }
}
