@use "@assets/styles/common.scss" as common;
@use "./TestTab/styles.scss" as TestTab;
@use "./ControlsTab/styles.scss" as ControlsTab;

@mixin main {
  .options-menu {
    @include common.view-preset;
    @include common.menu-preset;
    background-color: var(--menu-background-color);
    z-index: var(--options-menu-layer);

    .content-wrapper {
      .content {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .tab-btns-container {
          display: flex;
          gap: 10px;
        }

        .options-list-container {
          position: relative;
          width: 500px;
          height: 400px;
          overflow: hidden;
          border: 1px solid var(--lightgray);
          border-radius: 3px;
          box-sizing: border-box;

          .options-list {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            overflow-x: hidden;
            overflow-y: auto;

            .section {
              display: flex;
              flex-direction: column;
              gap: var(--gap-size);

              &:first-child {
                padding-top: var(--gap-size);
              }

              &:last-child {
                padding-bottom: var(--gap-size);
              }

              > .header {
                position: relative;
                display: flex;
                justify-content: center;
                border-width: 0 var(--gap-size);
                border-style: solid;
                border-color: transparent;

                .text {
                  background-color: var(--menu-background-color);
                  padding: 0 5px;
                }

                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  top: 50%;
                  width: 100%;
                  height: 2px;
                  background-color: gray;
                  z-index: -1;
                }
              }

              > .content {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 0 var(--gap-size);
              }
            }

            @include TestTab.main;
            @include ControlsTab.main;

            &.h {
              opacity: 0;
              pointer-events: none;
            }
          }
        }

        .control-btns-container {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
