@use "@assets/styles/common.scss" as common;
@use "../../ControlsMapTable/styles.scss" as ControlsMapTable;

@mixin main {
  &.controls-tab {
    .section {
      .content {
        .select,
        .button {
          height: 22px;
          padding: 0 10px;
          font-size: 14px;
        }

        .select {
          &:after {
            font-size: 21px;
            top: -1px;
          }
        }

        .settings-table {
          border-spacing: 0;

          tr {
            td {
              &:nth-child(1) {

              }

              &:nth-child(2) {
                width: 0;
              }
            }

            &:not(:first-child) {
              td {
                padding-top: 5px;
              }
            }
          }

          .setting-name {

          }

          .setting-controls {
            display: flex;
            flex-direction: column;
            // align-items: center;

            .checkbox {
              width: 22px;
              padding: 0;
            }
          }
        }

        .control-scheme-select {
          display: flex;
          gap: 5px;

          .button {
            flex-grow: 1;
          }
        }

        @include ControlsMapTable.main;

        .btn-wrapper {
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
