@use "@assets/styles/common.scss" as common;
@use "../../ControlsMapTable/styles.scss" as ControlsMapTable;

@mixin main {
  &.controls-tab {
    .section {
      .content {
        .select,
        .button {
          height: 22px;
          padding: 0 10px;
          font-size: 14px;
        }

        .select {
          &:after {
            font-size: 21px;
            top: -1px;
          }
        }

        .control-scheme-controls {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .row {
            display: flex;
            gap: 10px;

            .control-scheme-add-btn,
            .control-scheme-remove-btn,
            .control-scheme-reset-btn {
              width: 22px;
              font-size: 15px;
              font-weight: bold
            }
          }
        }

        @include ControlsMapTable.main;
      }
    }
  }
}
