@use "@assets/styles/common.scss" as common;
@use "../../ControlsMapTable/styles.scss" as ControlsMapTable;

@mixin main {
  &.controls-tab {
    .section {
      .content {
        .control-scheme-select {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;

          .button {
            flex-grow: 1;
            height: calc(22px * var(--interface-scale));
            font-size: calc(14px * var(--interface-scale));
          }
        }

        @include ControlsMapTable.main;

        .btn-wrapper {
          display: flex;
          justify-content: center;

          .button {
            height: calc(22px * var(--interface-scale));
            font-size: calc(14px * var(--interface-scale));
          }
        }
      }
    }
  }
}
