@use "@assets/styles/common.scss" as common;

@mixin main {
  .game-over-menu {
    @include common.view-preset;
    @include common.menu-preset;
    @include common.popup-menu-preset;
    z-index: var(--popup-menu-layer);

    &.h {
      opacity: 0;
      pointer-events: none;
    }
  }
}
