@use "@assets/styles/common.scss" as common;
@use "../ControlsMapTable/styles.scss" as ControlsMapTable;

@mixin main {
  .help-menu {
    @include common.view-preset;
    @include common.menu-preset;
    @include common.popup-menu-preset;
    z-index: var(--help-menu-layer);

    .content-wrapper {
      .content {
        @include ControlsMapTable.main;
      }
    }
  }
}
