@use "@assets/styles/common.scss" as common;
@use "../ControlsMapTable/styles.scss" as ControlsMapTable;

@mixin main {
  .help-menu {
    @include common.view-preset;
    @include common.menu-preset;
    @include common.popup-menu-preset;
    z-index: var(--help-menu-layer);

    .content-wrapper {
      .content {
        @include ControlsMapTable.main;
        padding-bottom: 0;
      }

      .control-btns-container {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;

        button {
          height: 40px;
          padding: 0 20px;
          font-size: 20px;
        }
      }
    }

    &.h {
      opacity: 0;
      pointer-events: none;
    }
  }
}
