@use "@assets/styles/common.scss" as common;

@mixin main {
  .select-menu {
    @include common.view-preset;
    @include common.menu-preset;
    @include common.popup-menu-preset;
    z-index: var(--options-popup-menu-layer);
  }
}
