@use "../PauseWindow/styles.scss" as PauseWindow;
@use "../GameOverWindow/styles.scss" as GameOverWindow;

@mixin main {
  .game-play-window {
    --next-figure-cell-size: 20px;
    --cup-width: calc(var(--cell-size) * var(--cup-cells-hor));
    --cup-height: calc(var(--cell-size) * var(--cup-cells-ver));
    display: flex;

    .figure-cell {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: var(--cell-size);
      height: var(--cell-size);

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border: 5px solid transparent;
        box-sizing: border-box;
      }

      &.cyan {
        &::after {
          background-color: #00f0f0;
          border-color: #b3fbfb #34e0e0 #007878 #00d8d8;
        }
      }

      &.blue {
        &::after {
          background-color: #0000f0;
          border-color: #b3b3fb #0000d8 #000078 #5454e5;
        }
      }

      &.orange {
        &::after {
          background-color: #f0a000;
          border-color: #fbe3b3 #d89000 #785000 #d89000;
        }
      }

      &.yellow {
        &::after {
          background-color: #f0f000;
          border-color: #fbfbb3 #d8d800 #787800 #d8d800;
        }
      }

      &.green {
        &::after {
          background-color: #00f000;
          border-color: #b3fbb3 #00d800 #007800 #00d800;
        }
      }

      &.purple {
        &::after {
          background-color: #a000f0;
          border-color: #e3b3fb #9000d8 #500078 #9000d8;
        }
      }

      &.red {
        &::after {
          background-color: #f00000;
          border-color: #fbb3b3 #d80000 #780000 #d80000;
        }
      }
    }

    .left-col-wrapper,
    .right-col-wrapper {
      width: 50%;
    }

    .left-col-wrapper {
      .control-tips-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px;
        padding: 10px;
        box-sizing: border-box;

        .header {
          font-weight: bold;
        }

        .item {
        }
      }
    }

    .right-col-wrapper {
      .game-state-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        padding: 10px;
        box-sizing: border-box;

        .score-header,
        .level-header,
        .next-figure-header {
          font-weight: bold;
        }

        .next-figure {
          width: calc(var(--next-figure-cell-size) * var(--next-figure-cells-hor));
          height: calc(var(--next-figure-cell-size) * var(--next-figure-cells-ver));

          .figure-cell {
            width: var(--next-figure-cell-size);
            height: var(--next-figure-cell-size);
          }
        }
      }
    }

    .cup-wrapper {
      flex-shrink: 0;
      position: relative;
      border-width: 10px 0 10px 0;
      border-style: solid;
      border-color: transparent;

      .cup {
        display: inline-block;
        width: var(--cup-width);
        height: var(--cup-height);
        outline: 1px solid #000;
        box-sizing: border-box;

        .figure-cell {
          &.empty {
            background-color: #bbb;

            &::after {
              border: none;
              border-right: 1px solid #999;
            }

            &.current-figure-column {
              background-color: #aaa;
            }
          }

          &.shadow-figure:not(.current-figure) {
            background-color: #bbb;

            &::after {
              opacity: 0.3;
            }
          }
          
        }
      }

      @include PauseWindow.main;
      @include GameOverWindow.main;
    }

    &.h {
      opacity: 0;
      pointer-events: none;
    }
  }
}
