@mixin colors {
  --black: #333;
  --lightgray: #ccc;
  --darkblue: #007aff;
  --blue: #418ecf;
  --lightblue: #4fabe0;
  --green: #34c759;
  --lightgreen: #55d56b;
  --darkgreen: #419d78;
  --orange: #ff9500;
  --yellow: #fbc02d;
  --darkred: #ff453a;
  --red: #ff3b30;
  --lightred: #ef5350;
  --dark: #1c1c1c;
  --white: #fff;
}

@mixin view-preset {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &.h {
    opacity: 0;
    pointer-events: none;
  }
}

@mixin menu-preset {
  .content-wrapper {
    --gap-size: 10px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-size);
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    box-sizing: border-box;

    > * {
      padding: 0 var(--gap-size);
      box-sizing: border-box;

      &:first-child {
        padding-top: var(--gap-size);
      }

      &:last-child {
        padding-bottom: var(--gap-size);
      }
    }

    > .title {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }

    > .tip {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
    }

    >.content {
      overflow: auto;

      &:not(:first-child) {
        margin-top: calc(-1 * var(--gap-size));
        padding-top: var(--gap-size);
      }

      &:not(:last-child) {
        margin-bottom: calc(-1 * var(--gap-size));
        padding-bottom: var(--gap-size);
      }

      .btns-container {
        display: flex;
        justify-content: center;

        .btns-wrapper {
          display: flex;
          flex-direction: column;
          gap: var(--gap-size);

          .button {
            height: 40px;
            padding: 0 20px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@mixin popup-menu-preset {
  background-color: rgba(0, 0, 0, 0.5);

  .content-wrapper {
    border: 2px solid #0099ff;
    background-color: var(--white);

    .control-btns-container {
      display: flex;
      justify-content: center;

      &:not(:first-child) {
        padding-top: var(--gap-size);
      }
    }
  }
}
