@mixin colors {
  --black: #333;
  --lightgray: #ccc;
  --darkblue: #007aff;
  --blue: #418ecf;
  --lightblue: #4fabe0;
  --green: #34c759;
  --lightgreen: #55d56b;
  --darkgreen: #419d78;
  --orange: #ff9500;
  --yellow: #fbc02d;
  --darkred: #ff453a;
  --red: #ff3b30;
  --lightred: #ef5350;
  --dark: #1c1c1c;
  --white: #fff;
}

@mixin view-preset {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@mixin menu-preset {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    box-sizing: border-box;

    > .title {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }

    > .tip {
      font-size: 14px;
      text-align: center;
    }

    .content {
      overflow: auto;

      .btns-container {
        display: flex;
        justify-content: center;

        .btns-wrapper {
          display: flex;
          flex-direction: column;
          gap: 10px;

          button {
            height: 40px;
            padding: 0 20px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@mixin popup-menu-preset {
  background-color: rgba(0, 0, 0, 0.5);

  .content-wrapper {
    border: 2px solid #0099ff;
    background-color: var(--white);

    > .title {
      padding: 5px 10px 0 10px;
      box-sizing: border-box;
    }

    > .tip {
      padding: 0 10px;
      box-sizing: border-box;
    }

    .content {
      padding: 0 10px 10px 10px;
      box-sizing: border-box;
    }
  }
}
