@mixin colors {
  --black: #333;
  --lightgray: #ccc;
  --darkblue: #007aff;
  --blue: #418ecf;
  --lightblue: #4fabe0;
  --green: #34c759;
  --lightgreen: #55d56b;
  --darkgreen: #419d78;
  --orange: #ff9500;
  --yellow: #fbc02d;
  --darkred: #ff453a;
  --red: #ff3b30;
  --lightred: #ef5350;
  --dark: #1c1c1c;
  --white: #fff;
}
